a {
    position: relative;

}


a::before {
    content: "";
    border: 1px solid white;
    position: absolute;
    left: 0px;
top : 100%; 
    /* Change 'top' to 'bottom' */
    width: 0;
    /* Set a default width (e.g., 0) */
    height: 2px;
    /* Specify the height of the border */
    background-color: white;
    /* Set the background color to match the border color */
    transition: width 0.3s;
    /* Add a transition for smooth animation */
}


a:hover::before {
    width: 100%;
    
    /* Expand the width on hover */
}



.Navbar {
 opacity: 0;
  width: 100%;
   min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.svg{
    opacity: 0;
}

.nav-divs {
    min-width: 15%;
    min-height: 8vh;
    opacity: 1;
   

}

.nav-divs h3{
    font-size: 1.2em;
}

.nav-head {
    background-color: #fff;
    font-size: .8em;
    color: #000;
    padding: 0% 3%;
    border-radius: 2px;

}


a {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
      
}

.Time {
    text-decoration: none;
    color: #fff;
    font-weight: 100;

}


.herosection {
    display: flex;
    position: relative;
    opacity: 0;
}

.lefthero {
    min-width: 100%;
    padding: 3% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.righthero {
    /* background-color: aqua; */
    align-self: flex-end;
    display: flex;
    justify-content: end;
    max-width: 30%;
    position: absolute;
    bottom: 6%;
}

.righthero p {
    font-size: 1em;
    text-align: end;

}

.heroheading {
    font-weight: 500;
    font-size: 4em;
    margin-bottom: 2%;
}

.heropara {
    margin-top: 2%;
    font-size: 1.2em;
    font-weight: 100;
    max-width: 50%;
}

.herobtn {
    border: none;
    margin-top: 7%;
    max-width: 30%;
    padding: 1%;
    display: flex;
    justify-content: center;
    font-size: 1em;
    background: white;
    color: #000;

}

.Page {
    /* cursor: none; */
    margin-top: 13%;
    width: 100%;
    opacity: 0;
}

.heading-portfolio {
    /* margin-top: 15%; */
    font-weight: 100;
    font-size: 2.5rem;
    text-align: left;
}

.heading-work {
    font-weight: 100;
    font-size: 5rem;
    text-align: left;

}

.work-div1{
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: space-between;
    padding-right: 10%;
    position: relative;
    overflow: hidden;
    /* background-color: aqua; */

}

.work-div1:hover .project-img{
    top: 10%;
    transition: all 0.5s linear;
}
.work-div2:hover .project-img{
    top: 10%;
    transition: all 0.3s linear;
}
.work-div3:hover .project-img{
    top: 10%;
    transition: all 0.5s linear;
}
.work-div2{
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: space-between;
    padding-right: 10%;
    position: relative;
    overflow: hidden;
    /* background-color: aqua; */
}
.work-div3{
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: space-between;
    padding-right: 10%;
    position: relative;
    overflow: hidden;
    /* background-color: aqua; */
}

.project-img {
    position: absolute;
    min-height: 100%;
    top: 100%;
    right: 10%;
    width: 20%;
    
    /* background-color: #fff; */
}
.project-img a img{
    object-fit: cover;
    width: 110%;
    height: 110%;
    object-position: center;
    border-radius: 5px;

}
.project-img a img:hover{
    scale: 1.2;
    filter: drop-shadow(0px 0px 10px rgb(248, 248, 248));
        transition: all .3s ease-in-out;
       

}

.about-div {
margin-top: 2%;
    /* background-color: aqua; */
    min-height: 80vh;
    text-align: end;

}

.about-heading {
    font-size: 15rem;
    font-weight: 600;
}

.about-subheading {
    font-size: 4em;
    line-height: 1;
    margin-top: -2%;
    font-weight: 400;
    margin-bottom: 2%;
}

.about-text {
    font-size: 2em;
    line-height: 1;
    margin-top: 2%;
    font-weight: 100;
    width: 100%;
}

.skills {
    margin-top: 10%;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

.layout-btn {
    border-radius: 30px;
    margin-bottom: 2%;  
    padding: 1% 1%;
    display: flex;
    width: 50%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.label{
    font-size: 1em;
    font-weight: 100;
}
.switch {
    margin-top: 2%;
    margin-inline: 3%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border : 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.switch-btn{
    width: 10px;
    height: 10px;
    margin-left: -30px;
    /* margin-left: -10%; */
    border-radius: 50%;
background-color: #fff;
/* cursor: pointer; */
}

.skills-logo{
    width:50%;
    height: 60vh;
    grid-gap: 10%;    
    display: grid;
    align-items: center;
 grid-template-columns: 1fr 1fr 1fr ;
    
}
.personal-card{
    width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  border : 2px dotted white ;
    /* background-color: #ff1302; */
    padding: 5% ;
}

.personal-card p{
    text-align: left;
    margin-top: 5%;
}
.personal-card h1{
    text-align: left;
  
}

.persnal-stack{
   opacity: 1;
    /* background-color: #0228ff; */
align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.skills-logo img{
    margin-inline: auto;
    width: 80px;
    height: 80px;
}


.skills-logo img:hover:nth-child(1) {
  filter: drop-shadow( 0px 0px 10px yellow);
transition: all .3s ease-in-out;
scale: 1.2;

}
.skills-logo img:hover:nth-child(2) {
  filter: drop-shadow( 0px 0px 20px #02bfff);
transition: all .3s ease-in-out;
scale: 1.2;
}
.skills-logo img:hover:nth-child(3) {
  filter: drop-shadow( 0px 0px 20px #fff);
transition: all .3s ease-in-out;
scale: 1.2;
}
.skills-logo img:hover:nth-child(4) {
  filter: drop-shadow( 0px 0px 20px rgb(255, 72, 0));
transition: all .3s ease-in-out;
scale: 1.2;
}
.skills-logo img:hover:nth-child(5) {
  filter: drop-shadow( 0px 0px 20px #5900ff);
transition: all .3s ease-in-out;
scale: 1.2;
}
.skills-logo img:hover:nth-child(6) {
  filter: drop-shadow( 0px 0px 20px #ff1302);
transition: all .3s ease-in-out;
scale: 1.2;
}
.skills-logo img:hover:nth-child(7) {
  filter: drop-shadow( 0px 0px 20px #0228ff);
transition: all .3s ease-in-out;
scale: 1.2;
}
.skills-logo img:hover:nth-child(8) {
  filter: drop-shadow( 0px 0px 20px #35ff02);
transition: all .3s ease-in-out;
scale: 1.2;
}
.skills-logo img:hover:nth-child(9) {
  filter: drop-shadow( 0px 0px 20px #02ff39);
transition: all .3s ease-in-out;
scale: 1.2;
}

.skill-heading{
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 2%;
}

.skill-para{
    font-size: 1rem;
    width: 70%;
    margin-top: 10px ;
   
}

.talkme{
    overflow: hidden;
    display: flex;
    font-size: 2em;
    line-height: 1;
    white-space: nowrap;
    width: 90%;
}
.talkme h1{
    margin-right: 30px;
    margin-bottom: 5px;

}
.talkmacontainer{

    overflow-x: hidden;
}




.footer-container{
     width: 100%;
        min-height: 70vh;
        margin-inline: auto;
        display: flex;
}
.leftfooter{
    width: 50%;
   height: 70vh;
    /* background-color: #0228ff; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.rightfooter{
    width: 50%;
   height: 70vh;
   gap: 5vh;
    /* background-color: #0228ff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer-ping{
width: 30%;
padding: 5px 8px;
border-radius: 50px;
border: 1px solid white;

display: flex;
justify-content: center;
align-items: center;
}


.footer-ping h1{
    font-size: 3em;
    font-weight: 100;
   margin-top: -10px;
}

.links h1 {
    font-weight: 100;
    font-size: 1.5em;
}


