@font-face {
  font-family: monoma;
  src: url(./font/MonomaniacOne-Regular.ttf);
}


.main{
color: white;
font-family: Monoma;
}

.container{
  /* border: 2px solid white;   */
  min-width : 50%;
  max-width : 80%;
  min-height: 80vh;
  margin-top: 2%;
  margin-inline: auto;
    
}